@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,100;1,300;1,400;1,700&family=Roboto:wght@300;400;500;700;900&display=swap");

* {
  margin: 0;
  border: 0;
  padding: 0;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
}

p {
  font-size: 14px;
  font-weight: 400;
}

h1 {
  font-size: 70px;
  font-weight: 900;
  margin-bottom: 30px;
}

h2 {
  font-size: 50px;
  font-weight: 700;
}

h3 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 30px;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

.separator {
  height: 0;
  width: 32px;
  display: block;
  margin: 69px auto;
  border: 3px solid rgb(215, 170, 60);
}
