* {
  margin: 0;
  border: 0;
  padding: 0;
}

header {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  height: 75px;
  background-color: black;
}

ul {
  list-style-type: none;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

li {
  float: left;
  flex: 1;
}

li a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
}

#header-logo {
  flex: 1;
  color: white;
  font-size: 50px;
  text-align: center;
}

#main-nav {
  flex: 2;
  background-color: rgba(15, 18, 202, 0.5);
  align-items: center;
  justify-items: center;
}

#button-container {
  flex: 1;
  background-color: rgba(226, 26, 26, 0.5);
  display: flex;
}

#home-hero {
  width: 100vw;
  height: 500px;
}

footer {
  display: flex;
  width: 100%;
  height: 400px;
}
