header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  right: 0;
  left: 0;
  height: 80px;
  background-color: rgba(255, 255, 255, 1);
  border-bottom: 3px solid rgba(0, 0, 0, 0.05);
}

header a {
  margin-left: 15px;
  width: 300px;
  height: 60px;
  flex-shrink: 0;
}

header nav {
  flex: 1;
  margin: 0 80px;
  max-width: 500px;
}

header ul {
  display: flex;
  justify-content: center;
  text-align: center;
}

header li {
  flex: 1;
}

header nav a {
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: 700;
  padding-bottom: 4px;
  border-bottom: 4px solid transparent;
  transition: border-bottom 0.2s ease 0.02s;
}

header nav a:hover {
  border-bottom: 4px solid;
  border-bottom-color: rgb(215, 170, 60);
}

.head-button-container {
  width: 300px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
  flex-shrink: 0;
}

.head-button-container i {
  font-size: 26px;
  transition: color 0.1s ease 0.001s;
}

.head-button-container button {
  background-color: white;
  margin: 0 10px;
  flex: 1;
}

.head-button-container button:hover i {
  color: rgb(215, 170, 60);
}

footer {
  height: 600px;
  background-color: lightgray;
  border-top: 2px solid rgb(215, 170, 60);
  padding-top: 70px;
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer ul {
  display: flex;
  justify-content: space-between;
  width: 70%;
}

.footer-title {
  text-align: center;
}

footer h2 {
  font-size: 45px;
  margin-bottom: 20px;
}

footer nav {
  display: flex;
  padding-left: 2px;
}

footer nav ul {
  flex-direction: column;
  align-items: start;
}

footer nav ul li {
  margin: 8px 0;
}

footer a {
  font-size: 18px;
  text-decoration: none;
  color: black;
  transition: text-decoration 0.1s ease;
}

footer a:hover {
  text-decoration: underline;
}

footer div {
  display: flex;
  margin-top: 50px;
  justify-content: space-between;
  width: 70%;
  margin-top: 120px;
}

.socials {
  flex-direction: row;
}

.socials li {
  flex: 1;
  margin-right: 20px;
}

.socials a {
  font-size: 38px;
  transition: color 0.1s ease;
}

.socials a:hover {
  color: rgb(215, 170, 60);
}

footer p {
  font-size: 16px;
  padding: 20px;
}
