section {
  display: flex;
  justify-content: center;
}

#home-hero {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.4),
      rgba(255, 255, 255, 0.01),
      rgba(255, 255, 255, 0.2)
    ),
    url("../img/teeddoo\ hero\ 1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 95vh;
}

#home-hero p {
  position: absolute;
  top: 120px;
  left: 120px;
  width: 500px;

  color: white;
  font-size: 24px;
  font-weight: 300;
  font-style: italic;
}

#home-hero a {
  position: absolute;
  bottom: 80px;
  margin: 0 50%;
  color: white;
  font-size: 50px;
}

#categories ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1400px;
  height: 700px;
}

#categories li {
  flex: 1;
  height: 100%;
  margin: 0 20px;
  position: relative;
  background-color: lightblue;
}

.category h2 {
  position: absolute;
  bottom: 12px;
  left: 15px;
  color: white;
  font-size: 50px;
}

#casual {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4)),
    url("../img/Teeddoo\ Messenger\ Bag\ -\ Black\ -\ Proportion.jpg");
}
#business {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4)),
    url("../img/grand\ document\ messenger\ bag\ -\ brown\ -\ proportion.jpg");
}
#flexible {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4)),
    url("../img/Crazy\ Horse\ on\ Khaki\ Canvas-Vintage\ Crossbody\ Messenger\ Bag\ -\ Proportion.jpg");
}

/* background-color: lightblue;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */
